<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>932179354101-o8d816ea8lcg3ml2d6n1q78ldjgfp6a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932179354101-o8d816ea8lcg3ml2d6n1q78ldjgfp6a4</string>
	<key>API_KEY</key>
	<string>AIzaSyDqTG53q7O5I9y-7iDsT4WYKY7iighQ5qw</string>
	<key>GCM_SENDER_ID</key>
	<string>932179354101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.detroitlabs.SeatHeroGuest</string>
	<key>PROJECT_ID</key>
	<string>seathero-bfe21</string>
	<key>STORAGE_BUCKET</key>
	<string>seathero-bfe21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:932179354101:ios:682c4d66ffd723ed</string>
	<key>DATABASE_URL</key>
	<string>https://seathero-bfe21.firebaseio.com</string>
</dict>
</plist>